<html>

<head>
<style type="text/css" media="screen">
td {
padding-left: 5px;
padding-right: 5px;
padding-top: 0px;
padding-bottom: 0px;
}
</style>
</head>

<body>
<h1>Known query-jobs</h1>
<table>
<tr><th>Name</th><th>State</th><th>Expires</th><th>Discard</th><th>Query</th></tr>
{% for j in jobs %}
    <tr>
    <td><a href="jobs/{{j.id}}">{{j.id}}</a></td>
    <td>{{j.phase}}</td>
    <td>{{j.expiry}}</td>
    <td><form action="jobs/{{j.id}}" method="post"><input type="submit" value="Delete"/></form></td>
    <td>{{j.query}}</td>
    </tr>
{% endfor %}
</table>
</body>
