{% extends "cdmsportal/portalBase.html" %}

{% block menu_li_catalog %}class="active" {% endblock %}

{% block second_navigation %}
<div class="hlist" style="background:none;border-top-color:white;border-color:#e0e0e0;margin-top:0px">
<!-- background-color:#f0f0f0;border-top-color:white;border-color:#e0e0e0;opacity:0.4">
-->
  <ul style="background-color:white; opacity:0.6">
    <li><a href="#" onclick="$('.result').hide();$('#control').show();$('#nodes').hide();docShowSubpage('form_queryTrans');">Query</a></li>
    <li><a href="#" onclick="$('#control').hide();$('.result').hide();$('#nodes').show();">Nodes</a></li>
    <li><a href="#" onclick="$('#control').hide();$('.result').show();$('#nodes').hide();docShowSubpage('queryresult');">Result</a></li>
 </ul>
<ul class="result" style="display:none;background-color:white; float:right; opacity:0.5">
    <li class="result"><a href="#" onclick="docShowSubpage('queryresult');$('#list_molecules').show();$('#list_atoms').show();">Species</a></li>
    <li class="result"><a href="#" onclick="docShowSubpage('queryresult');$('#list_states').show();">States</a></li>
    <li class="result"><a href="#" onclick="docShowSubpage('queryresult');$('#list_radiative').show();">Transitions</a></li>
    <li class="result"><a href="#" onclick="docShowSubpage('queryresult');$('#list_pfs').show();">Partition func.</a></li>
    <li class="result"><a href="#" onclick="docShowSubpage('queryresult');$('#list_collisions').show();">Collisions</a></li>
    <li class="result"><a href="#" onclick="docShowSubpage('queryresult');$('#list_functions').show();">Functions</a></li>
    <li class="result"><a href="#" onclick="docShowSubpage('queryresult');$('#list_sources').show();">Sources</a></li>
    <li class="result"><a href="#" onclick="docShowSubpage('queryresult');$('#list_methods').show();">Methods</a></li>
  </ul>
</div>
{% endblock %}
      
{% block third_navigation %}
      <div class="hlist result" style="display:none;background:None; background-color:white;border:solid;border-color:#f9f9f9;">
	<ul>
	  <li><a href="#" onclick="docShowSubpage('queryresult');$('#list_molecules').show();$('#list_atoms').show();">Species</a></li>
	</ul>
      </div>
{% endblock %}


{% block content %}
<form name="PARAMETER" aktion="cdms/showResults" class="yform full" method="post">


<div id="main">

<!-- NODES - LIST -->
<div id="nodes" style="display:none;min-height:100ex;">
 <fieldset>
   <div class="legend">VAMDC-Nodes</div>
   <div id="nodes_list"></div>
 </fieldset>
</div>

<!-- RESULT -->
<div id="result" class="result" style="display:none;min-height:100ex;">

      <div id ="queryresult" style="display:none;" class="subpage"> No query submitted yet. </div>



</div>


<div id="control">
  <div id="col1" style="background-color:white;" role="complementary">
    <div id="col1_content" class="clearfix">

      <h6 class="vlist">DATABASE</h6>
      <ul class="vlist">
        <li>
          <div class="type-select">
            <SELECT class="log" NAME="database" id="database" onchange="showQueryRefinements();updateNodeView()">
              <OPTION VALUE="cdms"> CDMS </OPTION>
              <OPTION VALUE="jpl"> JPL </OPTION>
              <OPTION VALUE="vamdc"> VAMDC-network </OPTION>
            </SELECT>
          </div> 
        </li>
      </ul>
      <h6 class="vlist">FORMAT</h6>
      <ul class="vlist">
        <li>
          <div class="type-select">
            <SELECT class="log" NAME="T_TYPE" id="T_TYPE" onchange="changeSelector()">
              <OPTION VALUE="spcat"> SPCAT </OPTION>
              <OPTION VALUE="comfort"> Full quantum number description </OPTION>
              <OPTION VALUE="xsams"> XSAMS (File) </OPTION>
              <OPTION VALUE="rad3d"> Rad3d (XSAMS) </OPTION>
              <OPTION VALUE="png"> Stick Spectrum (png) </OPTION>
            </SELECT>
          </div> 
        </li>
      </ul>
      <h6 class="vlist"> QUERY </h6>
      <ul class="vlist">
        <li><a href="#" id="a_form_queryRefinements" onclick="showQueryRefinements();docShowSubpage('form_queryTrans')">Overview</a></li>
      </ul>

      <h6 class="vlist"> REFINEMENTS </h6>
      <ul class="vlist">
        <li><a href="#" id="a_form_species" onclick="docShowSubpage('form_species')">Species</a></li> 
        <li><a href="#" id="a_form_transitions" onclick="docShowSubpage('form_transitions')">Transitions</a></li>
        <li><a href="#" id="a_form_states" onclick="docShowSubpage('form_states')">States</a></li>
        <li><a href="#" onclick="docShowSubpage('form_output')">Output</a></li>
      </ul>
    </div>
  </div>

  <div id="col3" role="main">
    <div id="col3_content" class="clearfix">
      <script type="text/javascript">
         isotopologs = [{% for inchikey in inchikey_list %}'{{inchikey}}',{% endfor %}] 
         molecules = [{% for molecule in stoichio_list %}'{{molecule}}',{% endfor %}] 
	 $(document).ready(function () {
		$('#a_form_queryRefinements').click();
                ajaxGetNodeList();
                <!-- ajaxQueryNodeContent(); -->
		updateNodeView();
		changeSelector();
            });
      </script>

<INPUT TYPE='HIDDEN' NAME='filterTag' VALUE=''>
<INPUT TYPE='HIDDEN' NAME='T_OrderBy' VALUE='E_TAG+ASC'>
<INPUT TYPE='HIDDEN' NAME='B_Query' VALUE='Confirm+Selection'>

<INPUT TYPE="HIDDEN" NAME="T_PAGE" ID="T_PAGE" VALUE="ShowResults">
<INPUT TYPE="HIDDEN" NAME="T_ReturnPage" ID="returnPage" VALUE="Query">

<DIV id="sectionPage">



<!-- QUERY TRANSITION PAGE -->
  <div id="form_queryTrans" class="subpage" style="">

    <fieldset>
      <div class="legend">Current Query:Refinements</div>
      <div id="refinements">
       <ul class='vlist'>
        <li><a href='#' onclick="$('#a_form_species').click();$('#a_form_species').addClass('activeLink');">MoleculeSpeciesID in ({% for id in speciesid_list %}XCDMS-{{id}}{% endfor %})</a></li>
        <a href='#' onclick="$('#a_form_transitions').click();$('#a_form_transitions').addClass('activeLink');">
          <p style='background-color:#FFFF99' class='important'>FREQUENCY RANGE: not specified => no restrictions</p>
        </a>
        <a href='#' onclick="$('#a_form_transitions').click();$('#a_form_transitions').addClass('activeLink');">
          <p style='background-color:#FFFF99' class='important'>INTENSITY LIMIT: not specified => no restrictions</p>
        </a>
       </ul>
      </div> <!-- DIV - REFINEMENTS -->
    </fieldset>


<!-- CREATE CONTAINER FOR RADEX INPUT -->
   <fieldset id="RadexSelectors" style="display:none;">
<!--     <div class="legend">Radex Input</div>  -->

     <div class="legend">Spectroscopic data </div>
      <ul class="vlist" id="list_spec">
      </ul>
      <INPUT TYPE="HIDDEN" NAME="spec_url" id="spec_url" VALUE="">
      <INPUT TYPE="HIDDEN" NAME="spec_speciesid" id="spec_speciesid" VALUE="">
     
     <div class="legend">Collisional data </div>
      <ul class="vlist" id="list_col">
      </ul>

      <INPUT TYPE="HIDDEN" NAME="col_url" id="col_url" VALUE=""> 
      <INPUT TYPE="HIDDEN" NAME="col_speciesid" id="col_speciesid" VALUE="">

      <div class="type-button float_right radexsubmit">
          <INPUT id="button2" TYPE="button" NAME="T_SEARCH" onclick='ajaxDownload("ajaxQuery","http://cdms.ph1.uni-koeln.de/cdms/tap/sync?REQUEST=doQuery&LANG=VSS2&FORMAT=XSAMS&QUERY=SELECT+ALL+WHERE+%28+InchiKey+=+%27UGFAIRIUMAVXCW-UHFFFAOYSA-N%27+%29&ORDERBY=frequency","http://cdms.ph1.uni-koeln.de/cdms/tap/");' VALUE="Download" >

          <INPUT id="button1" TYPE="button" NAME="T_SEARCH" onclick='$("#control").hide();ajaxQuery("ajaxQuery","http://cdms.ph1.uni-koeln.de/cdms/tap/sync?REQUEST=doQuery&LANG=VSS2&FORMAT=XSAMS&QUERY=SELECT+ALL+WHERE+%28+InchiKey+=+%27UGFAIRIUMAVXCW-UHFFFAOYSA-N%27+%29&ORDERBY=frequency","http://cdms.ph1.uni-koeln.de/cdms/tap/");$("#result").show();docShowSubpage("queryresult");' VALUE="QUERY" >
      </div>
   </fieldset>


   <fieldset id="dbcontent">
     <div class="legend">Content</div>
     <div id="nodelist" class="nodes" style="display:none;clear:both">Processing ...</div>
     <div id="jplcdmsnode" class="nodes" style="clear:both">
      <div class='vlist'><ul>
        <li id='nodehead' class='' style='height:7em;border-width:1px;border-style:hidden;background-color:#F0F0F0;padding:0.5em;margin:5px;'>
            <div class='nodename float_left' style='font-weight:bold;width:15em;background-color2:grey'>Database</div>                                                         
            <div class='status float_left' style='width:4em'>  
              <svg xmlns="http://www.w3.org/2000/svg">
                <text transform="rotate(270, 12, 0) translate(-60,0)">Status
              </svg>
            </div>
            <div class='numspecies float_left' style='width:4em'>
              <svg xmlns="http://www.w3.org/2000/svg">
                <text transform="rotate(270, 12, 0) translate(-60,0)"># Species</text>
              </svg>
            </div>
            <div class='nummols float_left' style='width:4em'>
              <svg xmlns="http://www.w3.org/2000/svg">
                <text transform="rotate(270, 12, 0) translate(-60,0)"># Molecules</text>
              </svg>
            </div>
            <div class='numstates float_left' style='width:4em'>
              <svg xmlns="http://www.w3.org/2000/svg">
                <text transform="rotate(270, 12, 0) translate(-60,0)"># States</text>
              </svg>
            </div>
            <div class='numtrans float_left' style='width:4em'>
              <svg xmlns="http://www.w3.org/2000/svg">
                <text transform="rotate(270, 12, 0) translate(-60,0)"># Trans.</text>
              </svg>
            </div>
            <div class='numcollisions float_left' style='width:4em'>
              <svg xmlns="http://www.w3.org/2000/svg">
                <text transform="rotate(270, 12, 0) translate(-60,0)"># Coll.</text>
              </svg>
            </div>
            <div class='numtrunc float_left' style='width:4em'>
              <svg xmlns="http://www.w3.org/2000/svg">
                <text transform="rotate(270, 12, 0) translate(-60,0)"># Trunc.</text>
              </svg>
            </div>
        </li>

        <li id='nodeCDMS' class='vamdcnode' style='width:98%;border-width:1px;border-style:solid;border-color:black;padding:0.5em;margin:5px;background-color:#fafaff'>
          <div class='nodeurl' style='display:none' id='CDMS'>http://cdms.ph1.uni-koeln.de/cdms/tap/</div>
          <div class='url' style='display:none'></div>
          <div class='' style=''>
            <div class='nodename float_left' style='font-weight:bold;width:15em;background-color2:grey'>CDMS</div>                                                         
            <div class='status float_left' style='width:4em'></div>
            <div class='numspecies float_left' style='width:4em'>0</div>
            <div class='nummols float_left' style='width:4em'>0</div>
            <div class='numstates float_left' style='width:4em'> 0</div>
            <div class='numradtrans float_left' style='width:4em'> 0</div>
            <div class='numcollisions float_left' style='width:4em'> 0</div>
            <div class='numtrunc float_left' style='width:4em'> 0</div>
          </div>
          <div class='species' style='clear:both'></div> 
        </li>
        <li id='nodeJPL' class='vamdcnode' style='width:98%;border-width:1px;border-style:solid;border-color:black;padding:0.5em;margin:5px;background-color:#fafaff'>
          <div class='nodeurl' style='display:none' id='JPL'>http://cdms.ph1.uni-koeln.de/jpl/tap/</div>
          <div class='url' style='display:none'></div>
          <div class='' style=''>
            <div class='nodename float_left' style='font-weight:bold;width:15em;background-color2:grey'>JPL</div>       
            <div class='status float_left' style='width:4em'></div>
            <div class='numspecies float_left' style='width:4em'>0</div>
            <div class='nummols float_left' style='width:4em'>0</div>
            <div class='numstates float_left' style='width:4em'> 0</div>
            <div class='numradtrans float_left' style='width:4em'> 0</div>
            <div class='numcollisions float_left' style='width:4em'> 0</div>
            <div class='numtrunc float_left' style='width:4em'> 0</div>
          </div>
          <div class='species' style='clear:both'></div> 
        </li>

        </ul>
      </div>
    </div> 
    </fieldset> 



    <INPUT TYPE="HIDDEN" VALUE="SELECT ALL WHERE  ( {% for specie in species_list %} {% if not forloop.first %} OR {% endif %} MoleculeInchiKey = '{{specie.inchikey}}' {% endfor %} )" NAME="QUERY" ID="QUERY">

    <fieldset style="display:none">
      <div class="legend">Current Query:TAP-XSAMS</div>
      <div id="TAPxsams">SELECT ALL WHERE  ( {% for specie in species_list %} {% if not forloop.first %} OR {% endif %} MoleculeInchiKey = '{{specie.inchikey}}' {% endfor %} )</div>
    </fieldset> 


  </div> <!-- DIV FORM QUERY TRANSITIONS (FIRST PAGE) -->

<!-- SUBPAGE REFINE TRANSITIONS -->
<div id="form_transitions" class="subpage" style="display:none">
  <h3><strong>REFINE</strong>&nbsp;<i>TRANSITIONS</i></h3>
  <p>&nbsp;</p>

  <fieldset class="columnar"> <div class="legend">Frequency</div>
   <div class="subcolumns">

    <div class="c50l">
     <div class="subcl type-text">
       <label class="columnar" for="T_SEARCH_FREQ_FROM">Frequency Range from</label>
       <input class="log" type="text" name="T_SEARCH_FREQ_FROM" id="T_SEARCH_FREQ_FROM" VALUE="" />
     </div>
    </div>

    <div class="c50r">
     <div class="subcr type-text">
       <label class="columnar" for="T_SEARCH_FREQ_TO">Frequency Range To</label>
       <input class="log" type="text" name="T_SEARCH_FREQ_TO" id="T_SEARCH_FREQ_TO" VALUE="" />
     </div>
    </div>

   </div> <!-- div-subcolumns -->

   <div class="type-check" id='UnitNu'>
     <label for="UnitNu" style='padding-right:1em'>Units</label>
     <input class="log" type="radio" name="UnitNu" id="UnitNu1" value="GHz"  checked="checked">
     <label for="UnitNu1">GHz</label>
     <input type="radio" name="UnitNu" id="UnitNu2" value="Wn" >
     <label for="UnitNu2">cm<sup>&#8211;1</sup></label>
   </div>
  </fieldset> 

  <fieldset>
    <div class="legend">Intensity</div>
    <div class="type-text"> 
      <label for="T_SEARCH_INT">Minimum </label>
      <input class="log" type="text" size="3" name="T_SEARCH_INT" id="T_SEARCH_INT" value=""> 
    </div>

    <div class="type-select">      
      <label for="IntUnit">Value</label>      
      <SELECT class="log"  NAME="IntUnit" id="IntUnit" size="1">
        <OPTION VALUE='T300' selected="selected"> Intensity (300 K) </OPTION> 
        <OPTION VALUE='T'> Intensity (T) </OPTION> 
        <OPTION VALUE='A'> Einstein A </OPTION> 
        <OPTION VALUE='mu2S'> &mu;^<sup>2</sup>S </OPTION> 
      </SELECT> 
    </div>

    <div class="type-select">
      <label for="T_TEMPERATURE">Temperature </label>
      <SELECT class="log" class="smallSelectWidth" NAME="T_TEMPERATURE" id="T_TEMPERATURE" >
        <OPTION VALUE='300'> 300 </OPTION> 
        <OPTION VALUE='225'> 225 </OPTION> 
        <OPTION VALUE='150'> 150 </OPTION> 
        <OPTION VALUE='75'> 75 </OPTION> 
        <OPTION VALUE='37.50'> 37.50 </OPTION> 
        <OPTION VALUE='18.75'> 18.75 </OPTION> 
        <OPTION VALUE='9.375'> 9.375 </OPTION> 
      </SELECT> 
    </div> 

  </fieldset>

  <fieldset>
    <div class="legend">Process Code</div>

    <div class="type-select">      
      <label for="T_SEARCH_HFSCODE">Hyperfine Splitting</label>      
      <SELECT class="log"  NAME="T_SEARCH_HFSCODE" id="T_SEARCH_HFSCODE" size="1">
        <OPTION VALUE='' selected="selected"> No filter </OPTION>
        <OPTION VALUE='hyp0'> Without HFS </OPTION> 
        <OPTION VALUE='hyp1'> HFS with 1 nucleus </OPTION> 
        <OPTION VALUE='hyp2'> HFS with 2 nuclei </OPTION> 
        <OPTION VALUE='hyp3'> HFS with 3 nuclei </OPTION> 
      </SELECT> 
    </div>


  </fieldset>

  <div class="type-button float_right">
    <INPUT id="button1" TYPE="BUTTON" NAME="T_SEARCH" onclick="showQueryRefinements();docShowSubpage('form_queryTrans');ajaxQueryNodeContent();" VALUE="OK" >
  </div>
</div>

<!-- SUBPAGE REFINE STATES -->
<div id="form_states" class="subpage" style="display:none">
    <h3><strong>REFINE</strong>&nbsp;<i>STATES</i></h3>
<p>&nbsp;</p>
 <fieldset><div class="legend">Energy</div>


   <div class="subcolumns">

    <div class="c50l">
     <div class="subcl type-text">
       <label class="columnar" for="T_SEARCH_ENERGY_FROM">State Energy Range from</label>
       <input class="log" type="text" name="T_SEARCH_ENERGY_FROM" id="T_SEARCH_ENERGY_FROM" VALUE="" />
     </div>
    </div>

    <div class="c50r">
     <div class="subcr type-text">
       <label class="columnar" for="T_SEARCH_ENERGY_TO">State Energy Range To</label>
       <input class="log" type="text" name="T_SEARCH_ENERGY_TO" id="T_SEARCH_ENERGY_TO" VALUE="" />
     </div>
    </div>

   </div> <!-- SUBCOLUMNS -->
   <!-- <p> Functionality not included yet! </p> -->
 </fieldset>

 <fieldset><div class="legend">Nuclear Spin Isomer</div>


     <div class="subcl type-text">
       <label class="columnar" for="T_SEARCH_NSI">Nuclear Spin Isomer</label>
       <input class="log" type="text" name="T_SEARCH_NSI" id="T_SEARCH_NSI" VALUE="" />
     </div>

 </fieldset>

    <div class="type-button float_right">
      <INPUT id="button1" TYPE="BUTTON" NAME="T_SEARCH" onclick="showQueryRefinements();docShowSubpage('form_queryTrans');ajaxQueryNodeContent();" VALUE="OK" >
   </div>
  </div>

<!-- SUBPAGE OUTPUT-FORMAT -->
<div id="form_output" class="subpage" style="display:none">
    <h3><strong>SELECT</strong>&nbsp;<i>OUTPUT.FORMAT</i></h3>

<p>&nbsp;</p>
 <fieldset><div class="legend">Sorting</div>
   <div class="type-select">
     <label for="T_SORT"> Sort by </label>
     <SELECT class="log" NAME="T_SORT" id="T_SORT">
       <OPTION VALUE="frequency"> Frequency </OPTION> 
       <OPTION VALUE="intensity"> Intensity </OPTION> 
       <OPTION VALUE="qnup1,qnup2,qnup3,qnup4,qnup5,qnup6,qnlow1,qnlow2,qnlow3,qnlow4,qnlow5,qnlow6"> Quantum Numbers </OPTION> 
       <OPTION VALUE="specie"> Species </OPTION> 
     </SELECT>

   </div>
   </fieldset>
    <div class="type-button float_right">
      <INPUT id="button1" TYPE="BUTTON" NAME="T_SEARCH" onclick="showQueryRefinements();docShowSubpage('form_queryTrans')" VALUE="OK" >
   </div>
  </div>


<!-- SUBPAGE REFINE STATES -->
<div id="form_species" class="subpage" style="display:none">
  <h3><strong>REFINE</strong>&nbsp;<i>SPECIES</i></h3>
  <p>&nbsp;</p>

  <fieldset>
    <div class="legend">List of Species</div>
    <ul class="vlist" type="none" >
    {% for specie in species_list %}
      <INPUT class="log" TYPE="HIDDEN" NAME="speciesIDs" VALUE="{{specie.id}}">
      <li id="{{specie.id}}" class="speciesRow" >
       <div id="eTag{{specie.speciestag}}" style="color:darkblue;font-weight:bold;display:inline;min-width:50px" class="eTag float_left"> {{specie.speciestag}}</div> 
       <div class="eName float_left" style="font-weight:bold;display:inline; min-width:100px"> {{specie.molecule.name}} </div>
       <div class="eIso float_left" style="font-weight:bold;display:inline; float:left; min-width:100px">  {{specie.isotopolog}} </div>
       <div class="eState float_left" style="display:inline; float:left; min-width:120px"> {{specie.state}} </div><br>

       <div class="mTrivName float_left full" style="display:inline; text-align:left;float:left; min-width:250px"> {{specie.molecule.trivialname}} </div>
       <div style='clear:left'></div>
      </li>
    {% endfor %}
    {% for specie in isotopolog_list %}
      <INPUT class="log" TYPE="HIDDEN" NAME="species_isotopolog" VALUE="{{specie.id}}">
      <li id="{{specie.id}}" class="speciesRow" >
       <div id="eTag{{specie.speciestag}}" style="font-weight:bold;display:inline;min-width:50px" class="eTag float_left"> {{specie.speciestag}}</div> 
       <div class="eName float_left" style="font-weight:bold;display:inline; min-width:100px"> {{specie.molecule.name}} </div>
       <div class="eIso float_left" style="color:darkblue;font-weight:bold;display:inline; float:left; min-width:100px">  {{specie.isotopolog}} </div>
       <div class="eState float_left" style="display:inline; float:left; min-width:120px"> {{specie.state}} </div><br>

       <div class="mTrivName float_left full" style="display:inline; text-align:left;float:left; min-width:250px"> {{specie.molecule.trivialname}} </div>
       <div style='clear:left'></div>
      </li>
    {% endfor %}
    {% for specie in molecule_list %}
      <INPUT class="log" TYPE="HIDDEN" NAME="species_molecules" VALUE="{{specie.id}}">
      <li id="{{specie.id}}" class="speciesRow" >
       <div id="eTag{{specie.speciestag}}" style="font-weight:bold;display:inline;min-width:50px" class="eTag float_left"> {{specie.speciestag}}</div> 
       <div class="eName float_left" style="color:darkblue;font-weight:bold;display:inline; min-width:100px"> {{specie.molecule.name}} </div>
       <div class="eIso float_left" style="font-weight:bold;display:inline; float:left; min-width:100px">  {{specie.isotopolog}} </div>
       <div class="eState float_left" style="display:inline; float:left; min-width:120px"> {{specie.state}} </div><br>

       <div class="mTrivName float_left full" style="display:inline; text-align:left;float:left; min-width:250px"> {{specie.molecule.trivialname}} </div>
       <div style='clear:left'></div>
      </li>
    {% endfor %}
    </ul>
  </fieldset>
  <div class="type-button float_left">
    <INPUT TYPE="BUTTON" VALUE="CHANGE" NAME="B_Change_TAG" onclick="attachSpeciesIds();load_page('queryForm');">
  </div>
  <div class="type-button float_right">
    <INPUT id="button1" TYPE="BUTTON" NAME="T_SEARCH" onclick="showQueryRefinements();docShowSubpage('form_queryTrans')" VALUE="OK" >
  </div>
</div>



</div>
</div>
</div>
</form>
</div>
{% endblock %}
