{% extends "indigo.html" %}
{% load i18n %}

{% block content %}
<h1>Make a query</h1>

<p>Please start by reading the <a href="#howto">how-to</a> below!</p>

<p>Then define your selection criteria:</p>
<form action="." method="post">
<p>  {{ selectionset.management_form }}</p>
<table>
  <tr><th colspan="2">Lower bound</th><th>Parameter to restrict</th><th colspan="2">Upper bound</th><th>Use AND?</th></tr>
  {% for selection in selectionset.forms %}
    <tr><td>{{ selection.lower }}</td><td><strong>&lt;&#61;</strong></td><td>{{ selection.parameter }}</td><td><strong>&lt;&#61;</strong></td><td>{{ selection.upper }}</td><td align="center">{{ selection.connection }}</td></tr>
  {% endfor %}
</table>
<p><input type="submit" value="Preview" /></p>
</form>

<p><a id="howto"><strong>How to use:</strong></a></p>
<ul>
  <li>Select the parameters that you want to restrict and fill in lower and/or upper boundaries. Use the same value on both sides to achieve "equal".</li>
  <li>Selecting a parameter and not entering any bounds means that there must be a value available for this parameter (not null).</li>
  <li>The values for upper and lower bounds are to be entered as decimals with at most 6 significant digits plus exponent, e.g. 4.567E-8</li>
  <li>The check box that says "Use AND?" is marked by default which means that an AND operator will be used to connect the current condition to the next one. If you want to use an OR, untick the marker.</li>
  <li></li>
  
</ul>
{% endblock %}

