{% extends "node/index.html" %}
{% load i18n %}
{% block title %}VALD node{% endblock %}
{% block headline %}VALD Node{% endblock %}
{% block content %}
<h1>VALD node</h1>
<div class="descr">April 23, 2010 by Thomas</div>

<p>If you really want to submit a query to this node directly, instead of via the portal, you can send it to /node/vald/tap/sync/ via POST or GET.</p>
<p>Two examples: (Clicking these links will make a query and download the result in xsams-xml to you.) <br/><br/>
<a href="http://vamdc.fysast.uu.se:8888/node/vald/tap/sync/?REQUEST=doQuery&LANG=vamdc&FORMAT=xsams&QUERY=SELECT ALL where RadTransWavelengthExperimentalValue < 90">All lines &lt; 90 &Aring;</a>.<br/><br/>
<a href="http://vamdc.fysast.uu.se:8888/node/vald/tap/sync/?REQUEST=doQuery&LANG=vamdc&FORMAT=xsams&QUERY=SELECT ALL WHERE RadTransWavelengthExperimentalValue < 3000 and RadTransWavelengthExperimentalValue > 2500 and AtomNuclearCharge > 25 and AtomIonCharge > 2">Return everything where: RadTransWavelengthExperimentalValue < 3000 and RadTransWavelengthExperimentalValue > 2500 and AtomNuclearCharge > 25 and AtomIonCharge > 2</a>.
</p>
{% endblock %}

