<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>


    <meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>HITRAN Search</title>
<link href="/HITRAN/media/layout.css" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/container/assets/skins/sam/container.css" />
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.1/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.1/build/animation/animation-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.1/build/dragdrop/dragdrop-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.1/build/container/container-min.js"></script>

<script type="text/javascript" src="/HITRAN/scripts/validate_searchform.js"></script>
<link rel="stylesheet" type="text/css" href="/HITRAN/media/panel-layout.css"/>
</head>

<body class="yui-skin-sam">

<h2>HITRAN Line List Search</h2>

<!--<form name="SearchForm" action="/HITRAN/search/" method="POST">-->
<form name="SearchForm">
{% csrf_token %}
<div id="panels_container">

<div id="searchform_left_panel">
<!-- the list of molecules -->
<table>
{% for molecule in molecules %}
<tr>
{# we need |safe here to stop Django from escaping our HTML: #}
<td><input type="checkbox" name="molecule" value="{{ molecule.molecid }}"/>&nbsp;{{ molecule.molec_name_html|safe }}</td>
</tr>
{% endfor %}
</table>
<!-- numin, numax, and Smin -->
<table>
<tr>
<td><em>&nu;</em><sub>min</sub></td>
<td><input type="text" name="numin"></td>
<td>cm<sup>-1</sup></td>
</tr>
<tr>
<td><em>&nu;</em><sub>max</sub></td>
<td><input type="text" name="numax"></td>
<td>cm<sup>-1</sup></td>
</tr>
<tr>
<td><em>S</em><sub>min</sub></td>
<td><input type="text" name="Smin"></td>
<td>cm<sup>-1</sup>/molec.cm<sup>-2</sup></td>
</tr>
</table>
</div> <!-- searchform_left_panel -->

<div id="searchform_right_panel">
<!-- output formats -->
<table>
<tr><td><input type="checkbox" name="output" value="par"/>&nbsp;Produce HITRAN-format .par file</td></tr> 
<tr><td><input type="checkbox" name="output" value="xml"/>&nbsp;Produce XSAMS-file (case-by-case)</td></tr> 
<tr><td><input type="checkbox" name="output" value="txt"/>&nbsp;Produce text table output&nbsp;<input type="button" id="select_output_fields" value="Select Output Fields"/></td></tr> 
</table>
<div id="result" style="font-size: 80%; font-family: monospace; width: 90%; background: #fff; height: 200px; padding: 10px; margin: 20px 10px 0 10px; margin-left: auto; margin-right: auto; overflow: auto; border: 1px solid #000;"></div>
</div> <!-- searchform_right_panel -->

<div style="clear: both; width: 200px; margin: auto;">
<br/><br/>
<input type="submit" value="Submit Query" onclick='JavaScript:xmlhttpPost("search")'/>
</div>

<!--BEGIN SOURCE CODE FOR EXAMPLE =============================== -->
<!--
<style>
	#container {height:15em; background: #f00;}
</style>
-->
<script>
		YAHOO.namespace("example.container");

		function init() {
			// Instantiate a Panel from markup
			YAHOO.example.container.panel1 = new YAHOO.widget.Panel("panel1", { width:"640px", height:"450px", visible:false, constraintoviewport:true, modal: true, fixedcenter: true } );
			YAHOO.example.container.panel1.render();

			YAHOO.util.Event.addListener("select_output_fields", "click", YAHOO.example.container.panel1.show, YAHOO.example.container.panel1, true);
			// add a listener for the OK button which closes the Select Output Fields panel: 
			YAHOO.util.Event.addListener("okButton", "click", YAHOO.example.container.panel1.hide, YAHOO.example.container.panel1, true);
		}

		YAHOO.util.Event.addListener(window, "load", init);
</script>

<script type="text/javascript">

(function() {

var Dom = YAHOO.util.Dom;
var Event = YAHOO.util.Event;
var DDM = YAHOO.util.DragDropMgr;

//////////////////////////////////////////////////////////////////////////////
// example app
//////////////////////////////////////////////////////////////////////////////
YAHOO.example.DDApp = {
    init: function() {

        var rows={{ available_output_fields|length }};
	var cols=2,i,j;

	new YAHOO.util.DDTarget("ul1");
	new YAHOO.util.DDTarget("ul2");

	/* unholy mashup of Django and JavaScript follows */
	{% for selected_output_field in selected_output_fields %}
		new YAHOO.example.DDList("{{ selected_output_field }}")
	{% endfor %}
	{% for available_output_field in available_output_fields %}
		new YAHOO.example.DDList("{{ available_output_field }}")
	{% endfor %}

/*        for (i=1;i<cols+1;i=i+1) {
            for (j=1;j<rows+1;j=j+1) {
                new YAHOO.example.DDList("li" + i + "_" + j);
            }
        }
*/
        /*Event.on("switchButton", "click", this.switchStyles);*/
    },

    /*showOrder: function() {
        var parseList = function(ul, title) {
            var items = ul.getElementsByTagName("li");
            var out = title + ": ";
            for (i=0;i<items.length;i=i+1) {
                out += items[i].id + " ";
            }
            return out;
        };

        var ul1=Dom.get("ul1"), ul2=Dom.get("ul2");
        alert(parseList(ul1, "List 1") + "\n" + parseList(ul2, "List 2"));

    },

    switchStyles: function() {
        Dom.get("ul1").className = "draglist_alt";
        Dom.get("ul2").className = "draglist_alt";
    }*/
};

//////////////////////////////////////////////////////////////////////////////
// custom drag and drop implementation
//////////////////////////////////////////////////////////////////////////////

YAHOO.example.DDList = function(id, sGroup, config) {

    YAHOO.example.DDList.superclass.constructor.call(this, id, sGroup, config);

    this.logger = this.logger || YAHOO;
    var el = this.getDragEl();
    Dom.setStyle(el, "opacity", 0.67); // The proxy is slightly transparent

    this.goingUp = false;
    this.lastY = 0;
};

YAHOO.extend(YAHOO.example.DDList, YAHOO.util.DDProxy, {

    startDrag: function(x, y) {
        this.logger.log(this.id + " startDrag");

        // make the proxy look like the source element
        var dragEl = this.getDragEl();
        var clickEl = this.getEl();
        Dom.setStyle(clickEl, "visibility", "hidden");

        dragEl.innerHTML = clickEl.innerHTML;

        Dom.setStyle(dragEl, "color", Dom.getStyle(clickEl, "color"));
        Dom.setStyle(dragEl, "backgroundColor", Dom.getStyle(clickEl, "backgroundColor"));
        Dom.setStyle(dragEl, "border", "2px solid gray");
    },

    endDrag: function(e) {

        var srcEl = this.getEl();
        var proxy = this.getDragEl();

        // Show the proxy element and animate it to the src element's location
        Dom.setStyle(proxy, "visibility", "");
        var a = new YAHOO.util.Motion( 
            proxy, { 
                points: { 
                    to: Dom.getXY(srcEl)
                }
            }, 
            0.2, 
            YAHOO.util.Easing.easeOut 
        )
        var proxyid = proxy.id;
        var thisid = this.id;

        // Hide the proxy and show the source element when finished with the animation
        a.onComplete.subscribe(function() {
                Dom.setStyle(proxyid, "visibility", "hidden");
                Dom.setStyle(thisid, "visibility", "");
            });
        a.animate();
    },

    onDragDrop: function(e, id) {

        // If there is one drop interaction, the li was dropped either on the list,
        // or it was dropped on the current location of the source element.
        if (DDM.interactionInfo.drop.length === 1) {

            // The position of the cursor at the time of the drop (YAHOO.util.Point)
            var pt = DDM.interactionInfo.point; 

            // The region occupied by the source element at the time of the drop
            var region = DDM.interactionInfo.sourceRegion; 

            // Check to see if we are over the source element's location.  We will
            // append to the bottom of the list once we are sure it was a drop in
            // the negative space (the area of the list without any list items)
            if (!region.intersect(pt)) {
                var destEl = Dom.get(id);
                var destDD = DDM.getDDById(id);
                destEl.appendChild(this.getEl());
                destDD.isEmpty = false;
                DDM.refreshCache();
            }

        }
    },

    onDrag: function(e) {

        // Keep track of the direction of the drag for use during onDragOver
        var y = Event.getPageY(e);

        if (y < this.lastY) {
            this.goingUp = true;
        } else if (y > this.lastY) {
            this.goingUp = false;
        }

        this.lastY = y;
    },

    onDragOver: function(e, id) {
    
        var srcEl = this.getEl();
        var destEl = Dom.get(id);

        // We are only concerned with list items, we ignore the dragover
        // notifications for the list.
        if (destEl.nodeName.toLowerCase() == "li") {
            var orig_p = srcEl.parentNode;
            var p = destEl.parentNode;

            if (this.goingUp) {
                p.insertBefore(srcEl, destEl); // insert above
            } else {
                p.insertBefore(srcEl, destEl.nextSibling); // insert below
            }

            DDM.refreshCache();
        }
    }
});

Event.onDOMReady(YAHOO.example.DDApp.init, YAHOO.example.DDApp, true);

})();
</script>

<div id="container">
	<div id="panel1">
		<div class="hd">Select Output Fields</div>

		<div class="bd">
		<p>Drag and drop the items in the lists below to select and reorder the fields you require in the output.</p>
		<p>Click OK to close this window when you're done.&nbsp;&nbsp;
		<input type="button" id="okButton" value="OK"/>
		</p>

		<div class="workarea"> 
	  	<h3>Selected Output Fields</h3> 
	  		<ul id="ul1" class="draglist"> 
				{% for selected_output_field in selected_output_fields %}
	    				<li class="list2" id="{{ selected_output_field }}">{{ selected_output_field }}</li> 
				{% endfor %}
	 		</ul> 
		</div> 
	 
		<div class="workarea"> 
	  	<h3>Available Output Fields</h3> 
	  		<ul id="ul2" class="draglist">
				{% for available_output_field in available_output_fields %}
	    				<li class="list2" id="{{ available_output_field }}">{{ available_output_field }}</li> 
				{% endfor %}
	  		</ul> 
		</div>

		
		</div> <!-- bd -->

		<div class="ft">Christian Hill</div>
	</div> <!-- panel1 -->
	
</div>
<!--END SOURCE CODE FOR EXAMPLE =============================== -->

</div> <!-- panels_container -->
</form>

</body>
</html>

