body {
	color: #000;
	font-size: 10pt;
	font-family: Verdana, Tahoma, Century Gothic, Helvetica, Arial, sans-serif;
	background: #fff;
	padding: 0; margin: 0;
	text-align: justify;
}

h2 {
	text-align: center;
}

#panels_container {
	width: 800px;
	margin:auto;
	background: #eee;
	border: black 1px solid;
}

#searchform_left_panel {
	width: 400px;
	margin: auto;
	float: left;
}
#searchform_right_panel {
	width: 400px;
	margin: auto;
	float: right;
}

results table {
	margin: auto;
}

results th {
	font-family: serif;
	font-size: 80%;
	background: #cfa;
	border: black 1px dotted;
}

results td {
	background: #acf;
	border: black 1px dotted;
	text-align: center;
}

