{% extends "base.html" %}

{% block content %}
    <h2>Comparing {{ es1.species }}- from {{ es1.origin_species }} with {{ es2.species }}- from {{ es2.origin_species }}</h2>
    <div class="general" id="info">Data for {{ es1.species }}-/{{ es1.origin_species }} was taken on {{ es1.experiment.name }} on {{ es1.productiondate }} with energy resolution: {{ es1.energyresolution }} eV<br /> Data for {{ es2.species }}-/{{ es2.origin_species }} was taken on {{ es2.experiment.name }} on {{ es2.productiondate }} with energy resolution: {{ es2.energyresolution }} eV</div>

    <div>
     <table style="text-align:center">
       <tr>
         <td>{{ es1.y_units }}</td>

         <td>
           <div id="placeholder" style="width:800px;height:400px"></div>
         </td>

         <td></td>
       </tr>

       <tr>
         <td></td>

         <td>Electron Energy (eV)</td>

         <td></td>
       </tr>

    </table>
   </div>
   <div>&nbsp;</div>

    <div class="wrapper">
     <div class="floater">
      <table>
        <tr>
          <td><strong>ES for {{ es1.species }}- from {{ es1.origin_species }} was published in:</strong></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Title:</td>
          <td>{{ es1.source.title }}</td>
        </tr>
        <tr>
          <td>Authors:</td>
          <td>{{ es1.authorlist }}</td>
        </tr>
        <tr>
          <td>Year:</td>
          <td>{{ es1.source.year }}</td>
        </tr>
        <tr>
          <td>Journal:</td>
          <td>{{ es1.source.journal }}</td>
        </tr>
        <tr>
          <td>Volume:</td>
          <td>{{ es1.source.volume }}</td>
        </tr>
        <tr>
          <td>Number:</td>
          <td>{{ es1.source.number }}</td>
        </tr>
        <tr>
          <td>Pages:</td>
          <td>{{ es1.source.pagestart }} - {{ es1.source.pageend }}</td>
        </tr>
        <tr>
          <td>DOI:</td>
          <td><a href="http://dx.doi.org/{{ es1.source.doi }}">{{ es1.source.doi }}</a></td>
        </tr>
        <tr>
          <td>XSAMS-File:</td>
          <td><a href="../../../tap/sync?LANG=VSS2&FORMAT=XSAMS&QUERY=SELECT ALL WHERE MoleculeStoichiometricFormula = '{{ es1.species.chemical_formula }}'">Download</a></td>
        </tr>
        <tr>
          <td>ASCII-File:</td>
          <td><a href="../../../export/{{ es1.id }}">Download</a></td>
        </tr>
      </table>
     </div>
     <div class="floater">
      <table>
        <tr>
          <td><strong>ES for {{ es2.species }}- from {{ es2.origin_species }} was published in:</strong></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Title:</td>
          <td>{{ es2.source.title }}</td>
        </tr>
        <tr>
          <td>Authors:</td>
          <td>{{ es2.authorlist }}</td>
        </tr>
        <tr>
          <td>Year:</td>
          <td>{{ es2.source.year }}</td>
        </tr>
        <tr>
          <td>Journal:</td>
          <td>{{ es2.source.journal }}</td>
        </tr>
          <td>Volume:</td>
          <td>{{ es2.source.volume }}</td>
        </tr>
        <tr>
          <td>Number:</td>
          <td>{{ es2.source.number }}</td>
        </tr>
        <tr>
          <td>Pages:</td>
          <td>{{ es2.source.pagestart }} - {{ es2.source.pageend }}</td>
        </tr>
        <tr>
          <td>DOI:</td>
          <td><a href="http://dx.doi.org/{{ es2.source.doi }}">{{ es2.source.doi }}</a></td>
        </tr>
        <tr>
          <td>XSAMS-File:</td>
          <td><a href="../../../tap/sync?LANG=VSS2&FORMAT=XSAMS&QUERY=SELECT ALL WHERE MoleculeStoichiometricFormula = '{{ es2.species.chemical_formula }}'">Download</a></td>
        </tr>
        <tr>
          <td>ASCII-File:</td>
          <td><a href="../../../export/{{ es2.id }}">Download</a></td>
        </tr>
      </table>
     </div>
    </div>

<script type="text/javascript">
$(function () {
    var d2 = [{{ es1.daten }}];
    var d3 = [{{ es2.daten }}];
    plot = $.plot($("#placeholder"), [{ label: "{{ es1.species }}-/{{ es1.origin_species }}: 00.00 eV / 00.00",  data: d2, color: "blue"},{ label: "{{ es2.species }}-/{{ es2.origin_species }} * {{ es2.factor }}: 00.00 eV / 00.00",  data: d3}], {legend: {margin : [15,15]}, crosshair: { mode: "xy" }, grid: { hoverable: true, autoHighlight: false }});

    var legends = $("#placeholder .legendLabel");
    legends.each(function () {
        // fix the widths so they don't jump around
        $(this).css('width', $(this).width());
    });

    var updateLegendTimeout = null;
    var latestPosition = null;
    
    function updateLegend() {
        updateLegendTimeout = null;
        
        var pos = latestPosition;
        
        var axes = plot.getAxes();
        if (pos.x < axes.xaxis.min || pos.x > axes.xaxis.max ||
            pos.y < axes.yaxis.min || pos.y > axes.yaxis.max)
            return;

        var i, j, dataset = plot.getData();
        for (i = 0; i < dataset.length; ++i) {
            var series = dataset[i];

            // find the nearest points, x-wise
            for (j = 0; j < series.data.length; ++j)
                if (series.data[j][0] > pos.x)
                    break;
            
            // now interpolate
            var x, p1 = series.data[j - 1], p2 = series.data[j];
            if (p1 == null)
                x = p2[0];
            else if (p2 == null)
                x = p1[0];
            else
                x = p1[0] + (p2[0] - p1[0]) * (pos.x - p1[0]) / (p2[0] - p1[0]);

            // find the nearest points, y-wise
            for (j = 0; j < series.data.length; ++j)
                if (series.data[j][0] > pos.y)
                    break;

            // now interpolate
            var y, p1 = series.data[j - 1], p2 = series.data[j];
            if (p1 == null)
                y = p2[0];
            else if (p2 == null)
                y = p1[0];
            else
                y = p1[0] + (p2[0] - p1[0]) * (pos.y - p1[0]) / (p2[0] - p1[0]);

            legends.eq(i).text(series.label.replace(/:.*/, ": " + x.toFixed(2) + " eV / " + y.toFixed(2)));
        }
    }
    
    $("#placeholder").bind("plothover",  function (event, pos, item) {
        latestPosition = pos;
        if (!updateLegendTimeout)
            updateLegendTimeout = setTimeout(updateLegend, 50);
    });

});
</script>

{% endblock %}
