{% extends "cdmsportal/portalBase.html" %}

{% block menu_li_home %}class="active" {% endblock %}

{% block content %}

<div id="main">
<div id="col1_content" class="clearfix" style="margin:2em 7em">
<p> The Cologne Database for Molecular Spectroscopy (CDMS) contains a catalog of radio frequency and microwave to far-infrared spectral lines of atomic and molecular species that (may) occur in the interstellar or circumstellar medium or in planetary atmospheres. The catalog is continuously updated.</p>

<p> &nbsp; </p>
<h2> General Information</h2>
<p> &nbsp;</p>
<p> FITTING.MOLECULES.EQUATIONS.</p>
<p> The General part provides information on the content and the format of the catalog, remarks on the partition function, and some equations useful for conversions.</p>
<p> &nbsp;</p>


<h2> Catalog</h2>
<p> &nbsp;</p>
<p> SEARCH.TRANSITIONS.ENERGY LEVELS.</p>
<p> The catalog section contains mostly rotational transition frequencies, uncertainties, intensities, and a wealth of other information of atomic and molecular species that may occur in the ISM or CSM or in planetary atmospheres</p>
<p> The documentation of molecular and atomic species can be found section SPECIES. Query the content of the catalog in section QUERY.</p>
<p> &nbsp;</p>


<h2> References</h2>
<p> &nbsp;</p>
<ul>
 <li> H. S. P. M&uuml;ller, F. Schl&ouml;der, J. Stutzki, and G. Winnewisser,<a href="http://dx.doi.org/10.1016/j.molstruc.2005.01.027" target="_top"><br /><i>J. Mol. Struct.</i> <b>742</b>, 215 &ndash; 227 (2005)</a>

 </li>
 <li> H. S. P. M&uuml;ller, S. Thorwirth, D. A. Roth, and G. Winnewisser,<a href="http://www.edpsciences.org/articles/aa/pdf/2001/18/aadb051.pdf" target="_top"><br /><i>Astron. Astrophys.</i> <b>370,</b> L49 &ndash; L52 (2001)</a>
 </li>
</ul>

</div>
</div>

{% endblock %}
