{% extends "indigo.html" %}
{% load i18n %}

{% block content %}
<h1>Check your dictionaries</h1>

<p>Paste your dictionary into the field 
below, including the variable assignment. Examples below.</p>

<form action="." method="post">
{% csrf_token %}
<p>{{ form.content }}</p>
<p><input type="submit" value="Check" /></p>

{% if form.content.errors %}
<p>Check result:</p>
{{ form.content.errors }}
{% else %}
<p>No errors found.</p>
{% endif %}
</form>

<h2>Examples</h2>

<p>
<code>
RETURNABLES = {'AtomSymbol':'AtomState.species.name',
'AtomIonCharge':'AtomState.species.ion',
'RadTransWavelengthExperimentalValue':'RadTran.vacwave',
}
</code>
</p>

<p>
<code>
RESTRICTABLES = {'AtomSymbol':'species__name',
'RadTransProbabilityLog10WeightedOscillatorStrengthValue':'loggf',
}
</code>
</p>
{% endblock %}

