{% extends "indigo.html" %}
{% load i18n %}

{% block content %}
<h1>Check your dictionaries</h1>

<p>Paste your dictionary into the field 
below, including the variable assignment. Examples below.</p>

<form action="." method="post">
{% csrf_token %}
<p>{{ form.content }}</p>
<p><input type="submit" value="Check" /></p>

{{ form.content.errors }}

</form>

<h2>Examples</h2>

<p>
<pre>
RETURNABLE = {'AtomSymbol':'AtomState.species.name',
'AtomIonCharge':'AtomState.species.ion',
'RadTransWavelengthExperimentalValue':'RadTran.vacwave',
}
</pre>
</p>

<p>
<pre>
RESTRICTABLE = {'AtomSymbol':'species__name',
'RadTransLogGF':'loggf',
}
</pre>
</p>
{% endblock %}

