{% extends "indigo.html" %}
{% load i18n %}

{% block content %}
<h1>Check your dictionaries</h1>

<p>Paste your dictionary into the field 
below, including the variable assignment. Examples and more information below.</p>

<form action="." method="post">
{% csrf_token %}
<p>{{ form.content }}</p>
<p><input type="submit" value="Check" /></p>

{% if form.content.errors %}
<p>Check result:</p>
{{ form.content.errors }}
{% else %}
<p>No errors found.</p>
{% endif %}
</form>

<h2>Examples</h2>

<p>
<code>
RETURNABLES = {'AtomSymbol':'AtomState.species.name',
'AtomIonCharge':'AtomState.species.ion',
'RadTransWavelength':'RadTran.vacwave',
'RadTransWavelengthUnit':'cm',
}
</code>
</p>

<p>
<code>
RESTRICTABLES = {'AtomSymbol':'species__name',
'AtomNuclearCharge':'species__atomic',
'RadTransWavelength':'vacwave'
}
</code>
</p>

<p>This tool warns you of
<ul>
<li>syntax errors</li>
<li>keywords you use which are not in the dictionary</li>
<li>keywords that cannot be used as Returnable or Restrictable as you do</li>
<li>values (right-hand-side) which probably will not be replaced by something from your database but treated as constant strings instead.</li>
<li>forgetting the Unit-keyword when you fill a DataType.</li>
</ul>
</p>
<p>This tool <strong>does not</strong> check whether the values you put into the right-hand-side match your data model or not.
</p>
{% endblock %}

